[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "IVCor"]
	path = IVCor
	url = https://github.com/cran/IVCor
[submodule "newIMVC"]
	path = newIMVC
	url = https://github.com/scottpanhan/newimvc
